<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Employee et les elements de salaire et total/</span>
</h4>

<p th:if="${message}" th:text="${message}" style="color:gray"></p>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-md-4">
                <form class="d-flex" th:action="@{/employeeHR/employeAndSalaryComponentFilterByDate}" method="post">
                    <input type="date" name="date" class="form-control" id="basic-default-company" placeholder="Search" />
                    <div class="col-md-1"></div>
                    <button class="btn btn-outline-dark col-md-4" type="submit">Filtre date</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<div class="card">
    <h5 class="card-header">Employee List</h5>
    <div class="table-responsive text-nowrap">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>From Date</th>
            <th>base</th>
            <th th:each="champ : ${nomChamp}" th:text="${champ}"></th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            <tr th:each="easc : ${employeAndSalaryComponent}">
                <td th:text="${easc.assignment.employee_name}"></td>
                <td th:text="${easc.assignment.from_date}"></td>
                <td th:text="${easc.assignment.base}"></td>
                <th:block th:each="champ : ${nomChamp}">
                    <td>
                        <span th:text="${easc.earningsAndDeductions[champ.toString()]}"></span>
                    </td>
                </th:block>
            </tr>
            <tr>
                <td></td>
                <td>Total Base :</td>
                <td th:text="${total}"></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
