<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Supplier/</span>
    List Purchase Invoice
</h4>

<p th:if="${message}" th:text="${message}" style="color:gray"></p>

<div class="card">
    <h5 class="card-header">List Purchase Invoice</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Supplier</th>
            <th>status</th>
            <th>Date</th>
            <th>Grand total</th>
            <th>name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr th:each="fctr : ${factures}">
            <td th:text="${fctr.supplier}"></td>
            <td th:text="${fctr.status}"></td>
            <td th:text="${fctr.posting_date}"></td>
            <td th:text="${fctr.grand_total}"></td>
            <td th:text="${fctr.name}"></td>
            <td>
              <div th:if="${fctr.status == 'Unpaid'}">
                <button type="button" class="btn btn-dark">
                  <a class="dropdown-item" 
                    th:href="@{/comptable/formPaymentEntry(invoiceName=${fctr.name}, amount=${fctr.grand_total}, supplier=${fctr.supplier})}">
                      Effectuer le paiement
                  </a>
                </button>
              </div>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<!--  <h2>Liste devis</h2>
<pre th:if="${supplierData}" th:text="${supplierData}"></pre>
-->